<a href="https://colab.research.google.com/github/oatthegreat/hw4/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
#1
import pandas as pd
import numpy as np

a = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
b = np.array([7, 2, 10, 2, 7, 4, 9, 4, 9, 8])

print(np.intersect1d(a, b))

[2 4]

In [168]:
#2
data = np.random.random_integers(5, size=(5,3))
data
#used numphy.org

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: This function is deprecated. Please call randint(1, 5 + 1) instead

array([[1, 3, 2],
       [2, 3, 5],
       [4, 3, 1],
       [5, 3, 3],
       [5, 5, 5]])

In [167]:
#3
data.flatten()

array([1, 3, 2, 2, 3, 4, 3, 2, 1, 5, 1, 2, 5, 2, 1])

In [166]:
#4
a1 = data[:,0]
a2 = data[:,1]
a3 = data[:,2]

# data[:1, :2]
np.array([[a1],[a2],[a3]])

array([[[1, 2, 3, 5, 5]],

       [[3, 3, 2, 1, 2]],

       [[2, 4, 1, 2, 1]]])

In [165]:
#5
d3_2d = np.array([[a1],[a2],[a3]])
d3_2d.reshape(5, 3)

array([[1, 2, 3],
       [5, 5, 3],
       [3, 2, 1],
       [2, 2, 4],
       [1, 2, 1]])

In [164]:
#6
a = np.array([12, 5, 7, 15, 3, 1, 8])
b = np.array([14, 6, 3, 11, 19, 12, 5])

np.setxor1d(a,b)

array([ 1,  6,  7,  8, 11, 14, 15, 19])

1-What is the maximum yearly NYC consumption of water in millions of gallons per day?

2-How many calendar years are represented within this data set? NumPy's shape command is one way to find
out.

3-What is the mean and the standard deviation of the per capita daily water consumption?

4-What is the increase or decrease in population from year to year? Use NumPy's `diff` function to create an array
of differences and save that to a variable called "pop_diff", then print that variable to the screen

In [163]:
#7
import pandas as pd
import numpy as np
#data set
df = pd.read_csv ('https://raw.githubusercontent.com/oatthegreat/hw4/main/Module6_Data%20(1).csv')
#copy
df_original = df
#check data set
df.head(40)

,Year,New York City Population,NYC Consumption(Million gallons per day),Per Capita(Gallons per person per day)
0,1979,7102100.0,1512.0,213
1,1980,7071639.0,1506.0,213
2,1981,7089241.0,1309.0,185
3,1982,7109105.0,1382.0,194
4,1983,7181224.0,1424.0,198
5,1984,7234514.0,1465.0,203
6,1985,7274054.0,1326.0,182
7,1986,7319246.0,1351.0,185
8,1987,7342476.0,1447.0,197
9,1988,7353719.0,1484.0,202
10,1989,7344175.0,1402.0,191
11,1990,7335650.0,1424.0,194
12,1991,7374501.0,1469.0,199
13,1992,7428944.0,1369.0,184
14,1993,7506166.0,1368.5,182
15,1994,7570458.0,1357.7,179
16,1995,7633040.0,1325.7,174
17,1996,7697812.0,1297.9,169
18,1997,7773443.0,1205.5,155
19,1998,7858259.0,1219.5,155
20,1999,7947660.0,1237.2,156
21,2000,8008278.0,1240.4,155
22,2001,8024963.5,1184.0,148
23,2002,8041649.0,1135.6,141
24,2003,8058334.5,1093.7,136
25,2004,8075020.0,1099.5,136
26,2005,8091705.5,1138.0,141
27,2006,8108391.0,1069.0,132
28,2007,8125076.5,1114.0,137
29,2008,8141762.0,1098.0,135
30,2009,8158447.5,1007.5,123
31,2010,8175133.0,1039.0,127
32,2011,8284098.0,1021.0,123
33,2012,8361179.0,1009.1,121
34,2013,8422460.0,1006.1,119
35,2014,8471990.0,996.0,118
36,2015,8516502.0,1009.0,118
37,2016,8537673.0,1002.0,117
38,2017,8622698.0,990.2,115

In [162]:
#1
ms = df.loc[:,"NYC Consumption(Million gallons per day)"]
np.max(ms)

1512.0

In [161]:
#2
print('Calendar Years: ',df.shape[0])

Calendar Years:  39

In [160]:
#3
ms = df.loc[:,"Per Capita(Gallons per person per day)"]
mn = np.mean(ms)
st = np.std(ms)
print(mn)
print(st)

160.30769230769232
31.51894330370624

In [159]:
#4
id = df.loc[:,"New York City Population"]
pop = id.astype(float)
pop_diff = np.diff(pop)
print(pop_diff)

[-30461.   17602.   19864.   72119.   53290.   39540.   45192.   23230.
  11243.   -9544.   -8525.   38851.   54443.   77222.   64292.   62582.
  64772.   75631.   84816.   89401.   60618.   16685.5  16685.5  16685.5
  16685.5  16685.5  16685.5  16685.5  16685.5  16685.5  16685.5 108965.
  77081.   61281.   49530.   44512.   21171.   85025. ]